div.edu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.exp-edu-tabs {
  width: 70%;
}
.experience {
  display: flex;
  flex-direction: row;
  height: 94.5vh;
  width: 100vw;
  /* flex-wrap: wrap; */
}

div.edu > div,
div.exp-tab > div {
  width: 80%;
}

div.exp-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

div h3 {
  font-size: var(--h3fontWeight);
  color: var(--h3fontColor);
  font-family: "Inconsolata", monospace;
}
progress {
  z-index: 1;
}

span.edu-lvl {
  font-size: 1.2rem;
  display: block;
  color: var(--greenHighlight);
}
/* tab2 */
.tech-work {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.tech-work > div {
  display: flex;
  flex-direction: column;
}
/* progree bar */
progress::-webkit-progress-value {
  background: rgb(15, 15, 15);
}
.progress-bar {
  background-color: rgb(161, 37, 37);
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

  width: 250px;
  height: 20px;

  position: relative;
  display: block;
}

.progress-bar > span {
  background-color: blue;
  border-radius: 2px;

  display: block;
  text-indent: -9999px;
}
/* progress bar end */
h2 {
  color: var(--nav-linksColor);
  text-align: center;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  letter-spacing: 3px;
  font-size: 30px;
  margin: 37px;
}
#rundol {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
@media screen and (max-width: 768px) {
  .experience {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .tech-work {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 25px;
    gap: 25px;
  }
  .experience {
    height: 110vh;
  }
  div.edu > div,
  div.exp-tab > div {
    width: 100%;
  }
  .exp-edu-tabs {
    width: 100%;
  }
}
