div.projects-component {
  color: rgb(204, 32, 32);
}
.project-menu {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  height: 90vh;
}
.project-menu > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 200px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: #64ffda;

  background-color: rgba(42, 37, 37, 0.897);
  border: 2px solid #eeeeee;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgb(9, 75, 53);
}
.project-menu div.head {
  padding: 10px;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Inconsolata", monospace;
  color: #64ffda;

  border-radius: 5px;
  flex-direction: row;
}
.disc {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 0%;
  top: 60px;
  left: 30px;
  opacity: 0;
  background-color: rgb(47, 47, 47);
  transition: all 0.5s ease-in;
}
.project-menu > div:hover > div.disc {
  visibility: visible;
  width: 100%;
  height: 80%;
  opacity: 1;
}

h2 {
  color: white;
}
@media screen and (max-width: 756px) {
}
